{% extends 'base.html' %}

{% block head %}
  <title>Your Created Courses: {{user.name}}</title>
{% endblock %}

{% block body %}
<div class="courses align-right" style="margin-top:10px; margin-left: 15px;">
{%for messages in get_flashed_messages()%}
    <div class="alert alert-success alert-dismissible fade show " id="ppbx-2" role="alert">
            {{messages}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
{%endfor%}
</div>
<h5 style="font-weight: bold; margin-left:75px; margin-top: 30px;">Your Created Courses</h5>
    {% for courses, pending_request_count in course %}
  <div class="courses d-flex justify-content-center" style="margin-top:10px; padding:10px;">
        <div class="col-sm-10 shadow p-3 mb-5 bg-body rounded" style="margin-top: 10px;">
            <div class="card-body">
              <h5 class="card-title">{{courses.course_name}}</h5>
              {% if pending_request_count > 0 %}
                <div style="float: right; margin-right: 5px;">{{pending_request_count}}</div>
              {% endif %}
              <p><small>Created By: {{courses.creator.name}}</small></p>
              <a href="{{url_for('courseDashboard', id=courses.id)}}" class="btn btn-primary">View Course Dashboard</a>
            </div>
        </div>
  </div>
    {% endfor%}
{% endblock %}
